.nos-news-headline {
  &__content {
    width: 100%;
    overflow: auto;

    ul {
      display: flex;
      padding: 4px 0 12px;
    }

    li {
      flex-shrink: 0;
      flex-grow: 1;
      flex-basis: 0;
    }
  }
  &__content-ul-wrapper {
    display: inline-block;
    margin: 2px 4px 0;
  }

  &__item {
    position: relative;
    flex-direction: column;
    width: 192px;
    margin-right: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    a {
      width: 100%;
      height: 100%;
    }
  }
  &__item:last-of-type {
    margin: 0;
  }

  &__thumbnail-wrapper {
    position: relative;
    flex: 60;
    width: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    overflow: hidden;
  }
  &__thumbnail {
    position: relative;
    background-size: cover;
    transition: all 0.3s ease-out;
  }
  &__thumbnail::before {
    display: inline-block;
    width: 100%;
    height: 0;
    padding-bottom: calc(52%);
    content: '';
  }

  &__info {
    position: relative;
    flex: 40;
    padding: 12px;
  }

  &__provider {
    position: absolute;
    top: -9px;
    right: 3px;
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  &__title {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    word-break: break-word;
  }

  &__sub {
    display: flex;
    align-items: center;
  }

  &__published-at {
    display: block;
    font-size: 10px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
  }
  &__provider {
    display: inline-block;
    padding: 0 10px;
    border-radius: 4px;
    background: black;
    color: white;
    font-size: 10px;
    font-weight: 400;
  }

  &__title--larged {
    font-size: 14px;
    line-height: 17px;;
  }

  .flex-none {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .nos-news-headline__provider {
      position: relative;
      width: fit-content;
    }

    .nos-news-headline__published-at {
      text-align: right;
    }
  }
}


@media screen and (min-width: $mobile-width) {
  .nos-news-headline {
    &__content {
      margin-bottom: 20px;
    }

    &__content-ul-wrapper {
      margin: 2px 8px 0;
    }

    &__item {
      width: 320px;
    }
    &__item:hover {
      .nos-news-headline__thumbnail {
        transform: scale(1.07, 1.07);
      }

      .nos-news-headline__title {
        color: $nos-main-theme-deep;
      }
    }

    &__info {
      padding: 18px;
    }

    &__title {
      font-size: 16px;
      line-height: 20px;
    }

    &__provider {
      top: -10px;
      right: 6px;
      font-size: 13px;
    }

    &__published-at {
      text-align: right;
      font-size: 13px;
    }
  }
}


@media screen and (min-width: 1024px) {
  .nos-news-headline {
    &__content-ul-wrapper {
      margin: 4px 34px 2px;
    }
  }
}