.nos-account-menu-modal {
  button, a {
    width: 100%;
    background: white;
    border-radius: 6px;
  }

  button {
    margin-bottom: 8px;
  }

  button:last-of-type {
    margin: 0;
  }
}

@media only screen and (min-width: $mobile-width) {
  .nos-account-menu-modal {
    top: 60px;
  }
}