.player {
  display: flex;
  align-items: flex-start;
  border-top: 0.5px solid #DBDBDF;
  height: 182px;

  &__image {
    max-width: 120px;
    width: 100%;
  }

  &__image:before {
    display: inline-block;
    width: 100%;
    height: 0;
    padding-bottom: calc(100% / (1 / 1.47));
    content: "";
  }

  &__meta-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 8px 10px 2px;
  }
  &__meta {
  }
  &__meta-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  &__meta-name {
    font-size: 15px;
    line-height: 1.1;
  }
  &__meta-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;

    span:first-of-type {
      display: inline-block;
      margin-right: 12px;
      font-size: 12px;
      font-weight: 300;
      color: #7E7E7E;
    }

    span:last-of-type {
      display: flex;
      align-items: center;
      font-size: 13px;
      font-weight: 400;
      word-break: break-all;
      line-height: 16px;
    }
  }
  &__meta-flag {
    width: 18px;
    height: 13px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 2px 0px;
  }
  &__meta-emblem {
    height: 18px;
    margin-right: 8px;
  }

  &__vote {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 3px;
    margin-top: 8px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 28px;
      padding: 4px 8px;
      border-radius: 8px;
    }
  }
 
  &__vote-btn {
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0.78);

    .v-icon {
      margin-right: 4px;
      font-size: 17px;
      color: rgba(0, 0, 0, 0.78);
    }

    span {
      font-size: 13px;
      font-weight: 400;
    }
  }
  &__vote-btn:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  &__vote--voted {
    border: 1px solid $nos-main-theme !important;
    background: rgba($nos-main-theme, 0.05) !important;
    color: $nos-main-theme !important;

    .v-icon {
      color: $nos-main-theme !important;
    }
  }
  &__vote--thumb {
    .v-icon {
      font-size: 15px;
    }
  }

  &__vote-more-btn {
    background: rgba(0, 0, 0, 0.1);

    .v-icon {
      font-size: 14px;
      font-weight: 600;
      color: black;
    }

    span {
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__all-votes-dialog {
    .v-card__title {
      font-weight: 300;
    }
  }
  &__all-votes {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
    padding: 16px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 32px;
      padding: 4px 8px;
      border-radius: 8px;
    }
  }
}


@media only screen and (min-width: $mobile-width) {
  .player {
    height: 271px;
    border: 0;

    &__image {
      max-width: 180px;
      width: 100%;
    }

    &__meta-wrapper {
      padding: 24px 28px 12px;
    }

    &__meta-header {
      margin-bottom: 12px;
    }
    &__meta-name {
      font-size: 22px;
    }
    &__meta-item {
      margin-bottom: 6px;

      span:first-of-type {
        font-size: 14px;
      }
      span:last-of-type {
        font-size: 14px;
      }
    }

    &__vote {
      grid-gap: 5px;

      button {
        height: 32px;
      }
    }

    &__vote-btn {
      .v-icon {
        margin-right: 8px;
        font-size: 20px;
      }
  
      span {
        font-size: 14px;
        font-weight: 400;
      }
    }
    &__vote--thumb {
      .v-icon {
        font-size: 17px;
      }
    }
    &__vote-more-btn {
      .v-icon {
        font-size: 17px;
      }

      span {
        font-size: 14px;
      }
    }

    &__all-votes {
      grid-gap: 5px;
    }
  }
}