.comment {
  &__content {
    max-width: $web-body-content-width;
    margin: 0 auto;
  }

  .nos-comment-unit {
    margin-bottom: 60px;
  }

  &__history-period {
    padding: 8px;
    background: #d57c59;
    color: white;
    text-align: center;
  }
}


@media screen and (min-width: $mobile-width) {
  .comment {
    &__content {
      margin-top: 32px;
    }

    .nos-comment-unit {
      display: flex;
      flex-direction: column;
    }
  }
}