.comment {
  .quick-comment {
    max-width: $web-body-content-width;
  }

  &__content {
    max-width: $web-body-content-width;
    margin: 16px auto;
  }

  .nos-comment-unit {
    margin-bottom: 60px;
  }
}


@media screen and (min-width: $mobile-width) {
  .comment {
    &__content {
      margin-top: 32px;
    }

    .nos-comment-unit {
      display: flex;
      flex-direction: column;
    }
  }
}