.player-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  &__backdrop {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .55);
  }

  &__inner {
    width: 95%;
    height: 97%;
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    font-weight: 600;
    overflow: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;

    a {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $nos-main-theme;
    }

    i {
      margin-right: 6px;
    }
  }

  // COMMENT
  .comment {
    padding: 4px 12px;
  }

  &__add-comment {
    label {
      font-size: 14px;
    }
  }

  &__comment-editor {
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 4px;

    textarea {
      width: 100%;
      height: 100%;
      padding: 8px 12px;
      border: 1px solid black;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      resize: none;
      outline: none;
      line-height: 1.5;
    }

    button {
      width: 80px;
      height: 100%;
      margin-left: 6px;
      background: $nos-main-theme;
      color: white;
    }
    button:disabled {
      background: rgba(#c33d02, 0.7);
    }
  }

  &__comment-option {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .v-icon {
      margin-right: 4px;
      font-size: 18px;
    }

    span {
      font-size: 13px;
    }
  }

  &__no-comments {
    margin: 36px 0 60px;
    color: rgba(0, 0, 0, 0.78);
    text-align: center;

    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;

      .v-icon {
        margin-right: 8px;
        color: rgba(0, 0, 0, 0.78);
        font-size: 24px;
      }

      * {
        font-family: 'Kanit', sans-serif !important;
        font-weight: 400;
      }
    }
  }

  &__last-week-comments {
    margin-top: 16px;
    color: #9b9b9b;

    &-title {
      margin-bottom: 12px;
      font-family: 'Kanit', sans-serif !important;
      font-size: 16px;
      font-weight: 400;
  }

    li {
      margin-bottom: 8px;
      font-size: 13px;
    }

    li:last-of-type {
      margin: 0;
    }
  }

  &__comments {
    position: relative;
    min-height: 300px;

    p, span, input, textarea {
      font-family: 'Open Sans', sans-serif;
    }
  }

  &__comments--changing {
    .player-modal__comments {
      opacity: 0.4;
    }
  }

  &__error-occured {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;

    p {
      width: 100%;
      color: white;
      font-weight: 600;
      text-align: center;
    }
  }

  &__comment {
    &-username {
      margin-right: 4px;
      font-size: 13px;
      font-weight: 800;
    }

    &-moment {
      color: #909090;
      font-size: 12px;
      font-family: 'Kanit', sans-serif !important;
      font-weight: 300;
      letter-spacing: -0.2;
    }

    &-body {
      position: relative;
      font-size: 14px;
      font-weight: 400;

      .v-btn {
        position: absolute;
        top: 0;
        right: 0;
      }

      .v-icon {
        font-size: 18px;
      }
    }

    &-content {
      display: block;
      max-height: 5.6rem;
      padding-right: 40px;
      line-height: 1.4rem;
      font-size: 14px;
      overflow: hidden;
    }
    &-content--expanded {
      max-height: unset;
      overflow: visible;
    }

    margin-bottom: 10px;
  }

  &__edit-opinion {
    position: relative;

    textarea {
      display: block;
      width: 100%;
      border-bottom: 1px solid black;
      font-size: 14px;
      font-weight: 400;
      resize: none;
      outline: none;
      line-height: 1.4rem;
    }

    input {
      width: 100%;
      border-bottom: 1px solid black;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4rem;
    }
  }

  &__edit-comment-error {
    position: absolute;
    bottom: 12px;
    left: 0;
    color: $color-fail;
    font-size: 12px;
  }

  &__comment-read-more {
    font-size: 12px;
    color: #606060;
  }

  &__comment-sub-action {
    display: flex;
    align-items: center;
    font-style: normal;

    button {
      display: flex;
      align-items: center;;
      color: #909090;
      font-size: 13px;
    }

    button:first-of-type {
      margin-right: 16px;
    }
    button:nth-of-type(2) {
      margin-right: 8px;
    }

    .v-icon {
      margin-right: 4px;
      font-size: 15px;
    }
    .v-icon:active {
      color: $nos-main-theme;
    }
  }

  &__v-menu {
    font-size: 13px;

    .v-icon {
      margin-right: 8px;
      font-size: 18px;
    }

    .v-list-item {
      min-width: 110px;
      font-size: 15px;
    }

    .v-list-item__title {
      font-size: unset;
    }
  }

  &--is-voted {
    .v-icon {
      color: $nos-main-theme;
    }
  }


  // REPLY 

  &__reply-editor {
    input {
      width: 100%;
      border-bottom: 1px solid black;
      font-size: 13px;
    }
  }

  &__opinion-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 8px;

    button {
      width: 66px;
      height: 28px;
      margin-left: 8px;
      font-size: 12px;
    }
  }

  &__load-reply {
    margin: 2px 0 6px;
    color: $nos-main-theme;
    font-size: 13px;

    i {
      margin-right: 4px;
      font-size: 14px;
    }

    button {
      display: flex;
      align-items: center;
      font-weight: 400;
    }
  }

  &__replies {
    margin-top: 4px;
    margin-left: 18px;
    font-size: 13px;
  }

  &__reply {
    margin-bottom: 13px;

    &-moment {
      color: #909090;
      font-size: 12px;
      font-family: 'Kanit', sans-serif !important;
      font-weight: 300;
      letter-spacing: -0.2;
    }

    &-username {
      margin-right: 4px;
      font-weight: 800;
    }

    &-body {
      position: relative;
      font-size: 14px;
      font-weight: 400;
  
      .v-btn {
        position: absolute;
        top: 0;
        right: 0;
      }
  
      .v-icon {
        font-size: 18px;
      }
    }

    &-content {
      display: block;
      padding-right: 40px;
      line-height: 1.4rem;
    }
  }

  &__reply-sub-action {
    display: flex;
    align-items: center;
    font-style: normal;

    button:first-of-type {
      margin-right: 16px;
    }

    .v-icon {
      margin-right: 4px;
      font-size: 15px;
    }
    .v-icon:active {
      color: $nos-main-theme;
    }
  }



  &__more-replies-btn {
    font-size: 13px;

    .v-icon, span {
      color: $nos-main-theme;
    }

    .v-icon {
      font-size: 15px;
    }
  }

  &__added-reply {
    &-username {
      font-weight: 800;
    }
  }

  &__more-comment-btn {
    text-align: center;

    button {
      padding: 8px 0;
      width: 100%;
    }

    span {
      font-size: 14px;
      font-weight: 600;
    }
  }
}

@media only screen and (min-width: $mobile-width) {
  .player-modal {
    &__inner {
      max-width: 830px;
      width: 95%;
      height: 80%;
    }

    &__content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &__left {
      flex: auto;
      height: 100%;
      overflow: auto;
    }

    &__right {
      flex-basis: 320px;
      height: 100%;
    }

    &__header {
      display: none;
    }

    &__add-comment {
      label {
        font-size: 15px;
      }
    }

    &__comment {
      &-username {
        font-size: 14px;
      }

      &-moment {
        font-size: 13px;
      }

      &-body {
        font-size: 15px;
      }
    }

    &__opinion-action {
      button {
        font-size: 13px;
      }
    }
  }
}