.player-modal {
  // COMMENT
  .comment {
    margin-bottom: 16px;
    padding: 4px 11px;
  }

  &__add-comment {
    margin-top: 6px;

    label {
      font-size: 12px;
    }
  }

  &__comment-editor {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 4px 0 6px;

    textarea {
      width: 100%;
      height: 100%;
      padding: 8px 12px;
      border: 0.5px solid #DBDBDF;
      border-radius: 2px;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      font-style: normal;
      resize: none;
      outline: none;
      line-height: 1.5;
    }

    button {
      min-width: 68px;
      height: 100%;
      margin-left: 6px;
      border-radius: 2px;
      background: rgba(0, 0, 0, 0.87);
      color: white;
    }
    button:disabled {
      background: rgba(0, 0, 0, 0.6);
    }
  }

  &__add-comment-community-guide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 8px;
    padding: 2px 12px;
    border: 1px solid rgba($nos-main-theme, 0.5);
    border-radius: 2px;
    background: rgba($nos-main-theme, 0.1);
    font-size: 12px;

    .v-icon {
      margin-right: 4px;
    }

    * {
      color: $nos-main-theme;
    }
  }

  &__comment-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
  }
  &__comment-count {
    height: 30px;

    .v-icon {
      margin-right: 4px;
      font-size: 18px;
    }

    span {
      font-size: 13px;
    }
  }
  &__comment-sortby {
    display: flex;
    align-items: center;
  }
  &__comment-sortby-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    padding: 1px 6px;
    border: 1px solid rgba(0, 0, 0, 0.72);;
    border-radius: 12px;

    .v-icon {
      margin-right: 4px;
      font-size: 14px;
    }

    span {
      font-size: 12px;
    }

    .v-icon, span {
      color: rgba(0, 0, 0, 0.72);
    }
  }
  &__comment-sortby-btn--active {
    border: 1px solid $nos-main-theme;
    background: rgba($nos-main-theme, 0.1);

    .v-icon, span {
      color: $nos-main-theme;
    }
  }

  &__no-comments {
    min-height: 180px;
    color: rgba(0, 0, 0, 0.78);
    text-align: center;

    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 18px;

      .v-icon {
        margin-right: 8px;
        color: rgba(0, 0, 0, 0.78);
        font-size: 24px;
      }

      * {
        font-family: 'Kanit', sans-serif !important;
        font-weight: 400;
      }
    }
  }

  &__comments {
    position: relative;

    p, span, input, textarea {
      font-family: 'Open Sans', sans-serif;
    }
  }

  &__comments--changing {
    opacity: 0.4;
  }

  &__error-occured {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;

    p {
      width: 100%;
      color: white;
      font-weight: 600;
      text-align: center;
    }
  }

  &__comment {
    margin-bottom: 16px;

    &-meta {
      display: flex;
      align-items: flex-start;
      margin-bottom: 4px;
    }

    &-user-badge {
      margin-right: 4px;
      padding: 0 6px 0;
      border-radius: 5px;
      background: $nos-main-gradient;
      color: white;
      font-size: 12px;
      font-weight: 800;
      line-height: 15px;
      font-family: 'Kanit', sans-serif !important;
    }

    &-username {
      display: inline-block;
      margin-right: 8px;
      font-size: 13px;
      font-weight: 800;
    }

    &-moment {
      display: inline-block;
      color: #909090;
      font-size: 11px;
      font-family: 'Kanit', sans-serif !important;
      font-weight: 300;
      line-height: 14px;
    }

    &-body {
      position: relative;
      font-size: 14px;
      font-weight: 400;

      .v-btn {
        position: absolute;
        top: 0;
        right: 0;
      }

      .v-icon {
        font-size: 18px;
      }
    }

    &-content {
      display: block;
      max-height: 4.2rem;
      padding-right: 40px;
      line-height: 1.1rem;
      font-size: 13px;
      font-style: normal;
      word-break: break-all;
      overflow: hidden;

      ::v-deep a {
        color: #1976d2;
        font-size: 12px;
        font-weight: 500;
        font-style: italic;
      }
    }
    &-content--expanded {
      max-height: unset !important;
      overflow: visible;
    }
  }

  &__edit-opinion {
    position: relative;

    textarea {
      display: block;
      width: 100%;
      border-bottom: 1px solid black;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      resize: none;
      outline: none;
      line-height: 1.3rem;
    }

    input {
      width: 100%;
      border-bottom: 1px solid black;
      font-size: 12px;
      font-weight: 400;
      font-style: normal;
      line-height: 1.1rem;
    }
  }

  &__edit-comment-error {
    position: absolute;
    bottom: 12px;
    left: 0;
    color: $color-fail;
    font-size: 12px;
  }

  &__comment-read-more {
    font-size: 12px;
    color: #606060;
  }

  &__comment-sub-action {
    display: flex;
    align-items: center;
    margin-top: 6px;
    font-style: normal;

    button {
      display: flex;
      padding-right: 4px;
      align-items: center;;
      color: #797979;
      font-size: 13px;
    }

    button:first-of-type {
      margin-right: 14px;
    }
    button:nth-of-type(2) {
      margin-right: 6px;
    }

    .v-icon {
      margin-right: 4px;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.5);
    }
    .v-icon:active {
      color: $nos-main-theme;
    }
  }

  &--is-voted {
    .v-icon {
      color: $nos-main-theme !important;
    }
  }

  &__more-comment-btn {
    text-align: center;

    button {
      padding: 16px 0 24px;
      width: 100%;
    }

    span {
      font-size: 14px;
      font-weight: 600;
    }
  }
}


@media screen and (min-width: $mobile-width) {
  .player-modal {
    &__add-comment {
      label {
        font-size: 14px;
      }
    }

    &__comment-editor {
      textarea {
        font-size: 14px;
      }

      button {
        margin-left: 8px;
      }
    }

    &__comment-sortby-btn {
      padding: 1px 8px;

      .v-icon {
        margin-right: 4px;
        font-size: 16px;
      }
  
      span {
        font-size: 13px;
      }
    }

    &__no-comments {
      min-height: 300px;
    }

    &__comment {
      &-user-badge {
        line-height: 16px;
      }
      &-username {
        font-size: 14px;
      }

      &-moment {
        font-size: 12px;
        line-height: 16px;
      }

      &-content {
        max-height: 5.1rem;
        font-size: 14px;
        line-height: 1.3rem;

        ::v-deep a {
          font-size: 13px;
        }
      }
    }

    &__opinion-action {
      button {
        font-size: 13px;
      }
    }

    &__edit-opinion {
      textarea {
        font-size: 14px;
      }

      input {
        font-size: 13px;
      }
    }
  }
}