.nos-modal {
  position: absolute;
  top: 52px;
  right: 6px;
  max-width: 296px;
  width: 100%;
  padding: 12px 10px;
  border-radius: 10px;
  background: linear-gradient(320deg, $nos-main-theme 30%, #ea5514 80%);

  &__body {
    position: relative;
    margin-top: 12px;

    button, a {
      padding: 10px 0;
    }
  }

  ::v-deep .nos-input__error-message {
    color: black;
  }
}

@media only screen and (min-width: $mobile-width) {
  .nos-modal {
    right: 0;
    max-width: 310px;
  }
}