.nos-modal {
  position: absolute;
  top: 52px;
  right: 6px;
  max-width: 280px;
  width: 100%;
  padding: 12px 10px;
  border-radius: 10px;
  background: linear-gradient(320deg, $nos-main-theme 30%, #ea5514 80%);

  &__body {
    position: relative;
    margin-top: 12px;

    button, a {
      padding: 10px 0;
    }
  }

  ::v-deep .nos-input__error-message {
    color: black;
  }
}


.nos-modal--white-tone {
  background: white;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.15);

  label {
    color: black !important;
  }

  ::v-deep input {
    border-bottom: 1px solid black !important;
    color: black !important;
  }

  .nos-modal__button {
    border: 1px solid $nos-main-theme;
    background: #f07c1a !important;
    color: white !important;
  }

  a:last-of-type {
    border: 1px solid $nos-main-theme;
    background: #f07c1a !important;
    color: white !important;
  }

  p, span {
    color: white;
  }

  ::v-deep .nos-input__error-message {
    color: #f07c1a;
  }
}

@media only screen and (min-width: $mobile-width) {
  .nos-modal {
    right: 0;
  }
}