.history {
  margin-top: 44px;

  &__period {
    position: fixed;
    top: $mobile-header-height;
    left: 0;
    width: 100%;
    height: 42px;
    padding: 8px;
    background: #d57c59;
    text-align: center;
    font-size: 14px;
    color: white;
    z-index: 50;
  }

  &__period-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: $web-body-content-width;
    height: 100%;
    margin: 0 auto;

    a {
      display: flex;
      align-items: center;
      position: absolute;
      top: 1px;
      left: 4px;
      color: white;

      span {
        display: none;
      }
    }

    .v-icon {
      margin-right: 8px;
      color: white;
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .history {
    margin-bottom: 80px;
    margin-top: 58px;

    &__period {
      top: $web-header-height;
    }

    &__period-content {
      a {
        span {
          display: inline-block;
        }
      }
    }
  }
}