/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0
}

html,
body {
  height: 100%;
  background: rgb(255, 255, 255);
}

#__nuxt,
#__layout {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

// body {
//   line-height: 1
// }

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input {
  margin: 0;
}

hr {
  height: 1px;
  margin: 0;
  opacity: 0.3;
  border: none;
  color: #333;
  /* old IE */
  background-color: #333;
  /* Modern Browsers */
}

*,
a,
p,
span,
input,
button,
select {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  font-weight: 400;
  // font-family: 'Open Sans', sans-serif;
}

// i태그를 따로 지정해주지 않으면 font-family가 위의 'Kanit'에 덮어쓰이게 되서
// 아이콘이 나오지 않는다.
i {
  font-family: 'Material Icons';
  font-style: normal;
}

button,
select,
input,
textarea {
  outline: none !important;
}

button {
  background: transparent;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

strong {
  font-weight: 600;
}


// Vue transition fade styles
// https://kr.vuejs.org/v2/guide/transitions.html
.fade {
  transition: all 0.25s;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
// Vue transition fade styles end

// Vue transition fade(only enter) styles
// https://kr.vuejs.org/v2/guide/transitions.html
.fade-oe {
  transition: all 0.25s;
}
.fade-oe-enter-active {
  transition: opacity .3s;
}
.fade-oe-leave-active {
  transition: opacity 0s;
}
.fade-oe-enter, .fade-oe-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
// Vue transition fade styles end

// Vue transition slide-fade styles
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(20px);
  opacity: 0;
}
// Vue transition slide-fade styles end


// Vuetify customizing
.theme--light.v-application {
  background: none;
}

.v-application {
  line-height: unset;

  a {
    color: unset;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.v-skeleton-loader__list-item-two-line {
  height: unset !important;
  margin: 0 !important;
  padding: 0 !important;
}

.v-btn {
  letter-spacing: unset;
  text-indent: unset;
}

.v-list-item__title {
  display: flex;
  align-items: center;;
}

.v-chip {
  padding: 0 12px !important;
}

.v-input .v-label {
  height: auto;
}
// Vuetify customizing end


.nos-basic-btn {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 8px 0;
  border-radius: 4px;
  background: linear-gradient(160deg, #f4991e 30%, #c33d02 90%);
  color: white !important;
  text-align: center;
  // box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.nos-basic-btn::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  background: linear-gradient(160deg, #f4991e 30%, #ea5514 90%);
  transition: all 0.4s ease-out;
  opacity: 0;
  z-index: -1;
}

.nos-basic-btn:hover::before {
  opacity: 1;
}

.nos-basic-btn:disabled {
  background: rgba(#c33d02, 0.7);
}
.nos-basic-btn:disabled:hover::before {
  opacity: 0;
}


.nos-basic-outlined-btn {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 8px 0;
  border: 2px solid $nos-main-theme;
  border-radius: 4px;
  color: black;
  text-align: center;
  transition: all 0.3s ease-out;
}

.nos-basic-outlined-btn:hover {
  background: rgba($nos-main-theme, 0.5);
}


.nos-simple-white-btn {
  padding: 3px 8px;
  border: 1px solid black;
  font-weight: 500;

  span {
    font-weight: 500;
  }
}

.nos-simple-black-btn {
  padding: 3px 8px;
  background: black;
  border: 1px solid black;
  color: white;
  font-weight: 700;

  span {
    font-weight: 700;
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nos-neon {
  position: relative;
  display: inline-block;
  border-radius: 6px;
  color: white;
  text-shadow: 0 0 5px $nos-main-theme;
  z-index: 2;
}
.nos-neon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: $nos-main-theme;
  filter: blur(0);
  z-index: -1;
  content: attr(data-text);
}
.nos-neon::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $nos-main-theme;
  opacity: 0.5;
  z-index: -2;
  filter: blur(8px);
  content: '';
}

.transparent {
  opacity: 0;
}

.border-1 {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.only-small-screen { display: block !important; }
.only-medium-screen { display: none !important; }
.only-big-screen { display: none !important; }

.from-medium-screen { display: none !important; }

@media screen and (min-width: $mobile-width) {
  .only-small-screen { display: none !important; }
  .only-medium-screen { display: block !important; }
  
  .from-medium-screen { display: block !important; }
}

@media screen and (min-width: 1024px) {
  .only-medium-screen { display: none !important; }
  .only-big-screen { display: block !important; }
}

