$mobile-width: 865px;

$web-header-content-width: 1024px;
$web-body-content-width: 1024px;

$web-header-height: 56px;
$mobile-header-height: 48px;

$web-footer-height: 120px;
$mobile-footer-height: 80px;

$nos-main-theme: #f4991e;
$nos-main-gradient: linear-gradient(160deg, #ea5514 30%, #f4991e 90%);
$color-warning: darkorange;
$color-fail: #C62828;