.nos-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: $mobile-header-height;
  padding: 16px;
  border-bottom: 1px solid #e4e4e4;
  background: white;
  z-index: 100;

  ::v-deep .nos-login-modal {
    position: absolute;
    top: 56px;
    right: 16px;
  }
}

@media only screen and (min-width: $mobile-width) {
  .nos-header {
    height: $web-header-height;
  }
}