.player-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  &__backdrop {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .55);
  }

  &__inner {
    width: 95%;
    height: 97%;
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 16px;
    background: white;
    font-weight: 600;
    overflow: auto;
    // border-radius: 6px;
  }

  &__header {
    margin-bottom: 16px;
    color: $nos-main-theme;

    a {
      display: flex;
      align-items: center;
    }

    i {
      margin-right: 6px;
    }
  }

  &__add-comment {
    margin-bottom: 8px;
  }

  &__comment-editor {
    display: flex;
    align-items: center;
    height: 50px;

    textarea {
      width: 100%;
      height: 100%;
      border: 1px solid black;
      font-size: 13px;
      resize: none;
    }

    button {
      width: 80px;
      height: 100%;
      margin-left: 6px;
      background: linear-gradient(320deg, $nos-main-theme 30%, #ea5514 80%);
      color: white;
    }
  }

  &__comment-option {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .v-icon {
      margin-right: 4px;
      font-size: 18px;
    }

    span {
      font-size: 13px;
    }
  }

  &__comments {
    position: relative;
    min-height: 400px;

    button, p, span, input, textarea {
      font-family: 'Open Sans', sans-serif;
    }
  }

  &__comment {
    &-meta {
      margin-bottom: -6px;
    }

    &-username {
      margin-right: 4px;
      font-size: 13px;
      font-weight: 800;
    }

    &-moment {
      color: #909090;
      font-size: 12px;
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: -4px;
      font-size: 14px;
      font-weight: 400;

      p {
        display: block;
        padding-right: 40px;
      }

      .v-icon {
        font-size: 18px;
      }
    }

    margin-bottom: 10px;
  }

  &__edit-opinion {
    input {
      width: 100%;
      border-bottom: 1px solid black;
      font-size: 14px;
      font-weight: 400;
    }

    &-action {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 4px;

      button {
        width: 66px;
        height: 28px;
        margin-left: 4px;
        font-size: 12px;
        font-weight: 800;
      }
    }
  }

  &__comment-sub-action {
    display: flex;
    align-items: center;
    font-style: normal;
    
    button {
      display: flex;
      align-items: center;;
      color: #909090;
      font-size: 13px;
    }

    button:first-of-type {
      margin-right: 16px;
    }
    button:nth-of-type(2) {
      margin-right: 8px;
    }

    .v-icon {
      margin-right: 4px;
      font-size: 15px;
    }
    .v-icon:active {
      color: $nos-main-theme;
    }
  }

  &__v-menu {
    font-size: 13px;

    .v-icon {
      margin-right: 8px;
      font-size: 18px;
    }

    .v-list-item {
      min-width: 110px;
      font-size: 15px;
    }

    .v-list-item__title {
      font-size: unset;
    }
  }

  &--is-voted {
    .v-icon {
      color: $nos-main-theme;
    }
  }

  &__add-reply {

  }

  &__reply-editor {
    input {
      width: 100%;
      border-bottom: 1px solid black;
      font-size: 13px;
    }
  }

  &__reply-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 4px;

    button {
      width: 66px;
      height: 28px;
      margin-left: 4px;
      font-size: 12px;
      font-weight: 800;
    }
  }

  &__load-reply {
    margin: 6px 0;
    color: $nos-main-theme;
    font-size: 13px;

    i {
      margin-right: 4px;
      font-size: 14px;
    }

    button {
      display: flex;
      align-items: center;
    }
  }

  &__replies {
    margin-top: 4px;
    margin-left: 18px;
    font-size: 13px;
  }

  &__reply {
    margin-bottom: 13px;

    &-meta {
      line-height: 24px;
      margin-bottom: -4px;
    }

    &-moment {
      color: #909090;
      font-size: 12px;
    }

    &-username {
      margin-right: 4px;
      font-weight: 800;
    }
  
    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: -10px 0 -4px;
      font-size: 14px;
      font-weight: 400;
  
      p {
        display: block;
        padding-right: 40px;
      }
  
      .v-icon {
        font-size: 18px;
      }
    }
  }


  &__more-replies-btn {
    font-size: 13px;

    .v-icon, span {
      color: $nos-main-theme;
    }

    .v-icon {
      font-size: 15px;
    }
  }

  &__added-reply {
    &-username {
      font-weight: 800;
    }
  }

  &__comment-loading {
    margin: 32px 0;
    text-align: center;
  }
}

@media only screen and (min-width: $mobile-width) {
  .player-modal {
    &__inner {
      max-width: 1110px;
      width: 95%;
      height: 80%;
      // padding: 0 16px;
    }

    &__content {
      width: 100%;
      height: 100%;
      // border-radius: 4px;
    }

    &__comment {
      &-username {
        font-size: 14px;
      }

      &-moment {
        font-size: 13px;
      }

      &-content {
        font-size: 15px;
      }
    }

    &__edit-opinion-action,
    &__reply-action {
      button {
        font-size: 13px;
      }
    }
  }
}