.signup {
  width: 100%;
  max-width: 400px;
  margin: 40px auto 120px;
  padding: 48px 16px 0;

  h1 {
    margin-bottom: 24px;
    font-size: 24px;
    text-align: center;
  }

  &__property {
    margin-bottom: 8px;
  }

  ::v-deep input {
    border-bottom: 1px solid black;
  }

  ::v-deep select {
    border-bottom: 1px solid black;
    border-radius: unset;
  }

  &__datepicker {
    position: relative;
    padding-bottom: 16px;

    ::v-deep input {
      width: 100%;
    }
  }

  &__datepicker-error-message {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $color-warning;
    font-size: 13px;
  }

  .nos-basic-btn {
    width: 100%;
    height: 42px;
    margin-top: 16px;
  }

  &__failed {
    color: $color-fail;
  }
}

@media only screen and (min-width: $mobile-width) {
  .signup {
    margin: 80px auto 240px;
  }
}