.signup {
  width: 100%;
  max-width: 400px;
  margin: 40px auto $mobile-footer-height;
  padding: 48px 24px 120px;

  h1 {
    margin-bottom: 24px;
    font-size: 24px;
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
  }

  &__property {
    margin-bottom: 12px;
  }

  ::v-deep input,
  ::v-deep select {
    height: 40px;
  }

  &__datepicker {
    position: relative;
    padding-bottom: 16px;
    
    ::v-deep input {
      width: 100%;
      padding: 0 8px;
      border: 1px solid $nos-main-theme;
      border-radius: 4px;
    }
  }

  &__datepicker-error-message {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $color-warning;
    font-size: 13px;
  }

  .nos-basic-btn {
    width: 100%;
    height: 56px;
    margin-top: 36px;
    font-size: 18px;
  }

  &__failed {
    color: $color-fail;
  }
}

@media only screen and (min-width: $mobile-width) {
  .signup {
    margin: 80px auto $web-footer-height;
    max-width: 460px;

    h1 {
      margin-bottom: 42px;
      font-size: 30px;
    }
  }
}