.nos-clubs {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 8px;
  width: 100%;

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 7px 3px;
    border-radius: 5px;
    text-align: center;
    box-shadow: -3px -3px 13px 0 rgba(255, 255, 255, 0.83), 1px 1px 5px 0 rgba(217, 210, 200, 0.51);
  }
  button:hover {
    background: rgba($nos-main-theme, 0.1);
  }

  img {
    width: 20px;
  }

  span {
    display: none;
  }

  &--selected {
    background: rgba($nos-main-theme, 0.2);
    border: 1px solid rgba($nos-main-theme, 0.5);
  }
}

@media screen and (min-width: $mobile-width) {
  .nos-clubs {
    button {
      padding: 8px 6px 4px;
      box-shadow: -3px -3px 13px 0 rgba(255, 255, 255, 0.83), 3px 3px 7px 0 rgba(217, 210, 200, 0.51);
      transition: all 0.15s ease-out;
    }

    img {
      width: 30px;
    }

    span {
      display: -webkit-box;
      margin-top: 6px;
      font-size: 12px;
      font-weight: 300;
      line-height: 14px;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }
}