.how-to-use {
  position: relative;
  max-width: $web-body-content-width;
  margin: 0 auto;
  z-index: 1;

  &__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: -28px;
    right: 4px;
    max-width: 80%;
    padding: 2px 16px;
    border-radius: 6px;
    background: linear-gradient(160deg, #1976d2 10%, #b800f2 90%);
    color: white;
    font-size: 13px;
    .v-icon { margin-right: 4px; font-size: 14px; color: white; }
  }
 
  &__container {
    position: absolute;
    top: -28px;
    right: 4px;
    max-width: 80%;
    border-radius: 6px;
    background: linear-gradient(160deg, #1976d2 10%, #b800f2 90%);
    color: white;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.4);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px 8px;
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;

    .v-icon { margin-right: 4px; font-size: 14px; color: white; }
  }

  &__close-btn {
    display: flex;
    align-items: center;

    .v-icon {
      font-size: 17px;
      color: white;
    }
  }

  &__body {
    margin: 2px 8px 8px;
    padding: 8px 20px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.4);
  }

  &__content {
    max-height: 380px;
    color: white;
    font-size: 12px;
    font-weight: 300;
    overflow: auto;
  }

  &__confirm {
    width: 100%;
    margin: 12px 0 4px;
    padding: 4px 16px;
    border: 1px solid white;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 13px;
  }
}



@media screen and (min-width: $mobile-width) {
  .how-to-use {
    &__btn {
      top: -38px;
      right: 0;
      padding: 4px 20px;
      font-size: 15px;
      .v-icon { margin-right: 6px; font-size: 17px; }
    }
    &__container {
      top: -38px;
      right: 0;
      max-width: 500px;
    }

    &__header {
      padding: 16px 16px 12px;
    }

    &__title {
      font-size: 15px;

      .v-icon { margin-right: 8px; font-size: 18px; }
    }

    &__close-btn {
      .v-icon { font-size: 20px; }
    }

    &__body {
      margin: 2px 16px 12px;
      padding: 16px 20px 8px;
    }

    &__content {
      font-size: 14px;
    }

    &__confirm {
      margin-top: 18px;
      font-size: 15px;
    }
  }
}