.home {
  position: relative;

  &__body {
    position: relative;
    margin-top: 38px;
    padding-top: 30px;
  }

  &__info {
    max-width: $web-body-content-width;
    padding: 4px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__info-menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 32px;
    border-radius: 6px;
    background: black;
    font-size: 14px;
    font-weight: 800;

    * { color: white; }

    .v-icon {
      font-size: 15px;
    }

    span {
      position: relative;
      display: inline-block;
      margin-left: 4px;
    }
  }
  &__info-selector:first-of-type {
    margin-right: 4px;

    .v-icon {
      font-size: 14px;
      transform: rotate(-15deg);
    }
  }
  &__info-contents {
    padding: 12px 0 4px;
  }

  &__leagues {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;

    button {
      margin: 0 4px;
      padding: 1px 12px;
      border: 1px solid rgba(0, 0, 0, 0.6);
      border-radius: 8px;
      color: rgba(0, 0, 0, 0.6);
      font-size: 13px;
    }
    .league--selected {
      border-color: $nos-main-theme;
      background: rgba($nos-main-theme, 0.1);
      color: $nos-main-theme;
    }
  }

  &__fixtures-wrapper {
    position: relative;
  }
  &__fixtures-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
  }
  &__fixtures-date {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      margin: 0 12px;
    }
    .v-icon {
      color: black;
    }
  }
  &__fixtures {
    display: block;
  }
  &__fixture {
    position: relative;
    margin-bottom: 4px;
    padding: 10px 12px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    text-align: center;
  }
  &__fixture-meta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 320px;
    margin: 0 auto 4px;

    p {
      font-size: 14px;
      line-height: 1.2;
    }

    img {
      width: 30px;
    }
  }
  &__fixture-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 40;

    p {
      margin-top: 4px;
      line-height: 1.2;
    }
  }
  &__fixture-sub-info {
    margin: 4px 0;
    text-align: center;

    span {
      font-size: 12px;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.6);
    }
  }
  &__fixture-tip {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    padding: 0 4px;
    border-radius: 8px;
    font-size: 11px;
    line-height: 11px;
  }
  &__fixture-round {
    border: 1px solid #4d033d;
    background: rgba(#4d033d, 0.1);
    color: #4d033d;
  }
  &__fixture-live {
    border: 1px solid $nos-main-theme;
    background: rgba($nos-main-theme, 0.1);
    color: $nos-main-theme;
  }

  &__fixture-players, &__fixture-stat {
    width: 100%;
    margin-bottom: 4px;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    font-size: 12px;
    font-weight: 300;

    .v-icon {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.8);
    }
  }
  &__fixture-stat--activate {
    transition: all 0.3s ease-out;

    .v-icon {
      transform: rotate(180deg);
    }
  }

  &__no-fixture {
    padding: 24px 12px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 12px;
    font-weight: 300;
  }


  &__table {
    max-width: 650px;
    margin: 0 auto 12px;
    padding: 0 16px;

    table {
      width: 100%;
    }

    th, td {
      padding: 5px 0;
      font-size: 12px;
      font-weight: 300;
    }
    th {
      text-align: center;

      .v-icon { font-size: 15px; color: black; }
    }
    th:first-of-type {
      text-align: left;
    }
    th:nth-of-type(3) {
      color: $color-primary;
    }

    td {
      .v-icon { margin-left: 4px; font-size: 10px; color: black; }
    }
    td:first-of-type {
      padding-right: 6px;
    }
    td:nth-of-type(3),
    td:nth-of-type(4),
    td:nth-of-type(5),
    td:nth-of-type(6),
    td:nth-of-type(7),
    td:nth-of-type(8) {
      padding: 0 3px;
      text-align: center;
    }
    td:nth-of-type(3) {
      color: $color-primary;
    }
    img {
      vertical-align: top;
      width: 18px;
      margin-right: 3px;
    }
  }

  ::v-deep .nos-fixture-stat {
    width: 90%;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media screen and (min-width: $mobile-width) {
  .home {
    &__body {
      margin-top: 58px;
      padding: 30px 8px 0;
    }

    &__info {
      margin: 16px auto 0;
      border: 0;
    }
    &__info-selector {
      height: 38px;

      .v-icon {
        font-size: 20px;
      }
      span {
        margin-left: 8px;
        font-size: 15px;
      }
    }
    &__info-selector:first-of-type {
      margin-right: 16px;
    }
    &__info-contents {
      padding: 20px 0 8px;
    }

    &__leagues {
      button {
        padding: 2px 12px;
        font-size: 15px;
      }
    }

    &__fixtures-wrapper {
    }
    &__fixtures {
      display: grid;
      list-style: none;
      grid-gap: 12px;
      grid-auto-rows: 1fr;
      width: 100%;
    }
    &__fixture {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0;
      padding: 14px 28px 6px;
    }
    &__fixture-tip {
      padding: 1px 4px;
    }
    &__fixture-team {
      p { margin-top: 6px; }
    }
    &__fixture-sub-info {
      font-size: 14px;
    }
    &__fixtures-grid-1 { grid-template-columns: repeat(1, 1fr); }
    &__fixtures-grid-2 { grid-template-columns: repeat(2, 1fr); }
    &__fixtures-grid-3 { grid-template-columns: repeat(3, 1fr); }

    &__fixture-players, &__fixture-stat {
      margin-bottom: 7px;
      font-size: 13px;
    }

    &__no-fixture {
      font-size: 14px;
    }


    &__table {
      padding: 0 0 26px;

      th {
        .v-icon { font-size: 20px; }
      }

      td {
        .v-icon { font-size: 12px; }
      }

      th, td {
        font-size: 14px;
      }
      td {
        padding: 6px 0;
      }
    }

    ::v-deep .nos-fixture-stat {
      width: 95%;
      top: 190px;
    }
  }
}

@media screen and (min-width: $web-body-content-width + 1px) {
  .home {
    &__info {
      padding: 0;
    }
    &__info-contents {
      padding: 16px 0 8px;
    }

    &__fixtures-wrapper {
    }
  }
}