.news {
  background: rgba(0, 0, 0, 0.02);

  &__header {
    margin-bottom: 4px;
    padding: 24px;
    background: white;
    text-align: center;

    span {
      display: block;
    }
  }
  &__header-pl-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 12px;
    padding: 8px 16px;
    border-radius: 6px;
    transition: all 0.15s ease-out;

    img { height: 28px; }
  }
  &__header-pl-btn:hover { background: rgba($nos-main-theme, 0.1)}
  &__header-club-img { height: 50px; margin-right: 12px; }
  &__header-club-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span {
      font-size: 18px;
    }

    a {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 300;

      .v-icon {
        margin-right: 4px;
        font-size: 14px;
        color: black;
      }
    }
  }

  &__body {
    li {
      margin-bottom: 4px;
      background: white;
    }
  }

  &__clubs-title {
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
  }

  &-selected-target {
    background: rgba($nos-main-theme, 0.1);
    border: 1px solid rgba($nos-main-theme, 0.5);
  }
}


@media screen and (min-width: $mobile-width) {
  .news {
    margin-bottom: 120px;
    background: white;

    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 136px;
      margin: 48px 0;
      padding: 0;
    }
    &__header-pl-btn {
      width: auto;
      height: 100%;
      margin: 0 8px 0 0;
      padding: 24px;

      img { height: 40px; }
    }

    &__body {
      ul {
        display: grid;
        list-style: none;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 16px;
      }

      li {
        width: 100%;
      }
    }

    ::v-deep .nos-clubs {
      margin: 0;
      padding: 0;
    }
  }
}