.home {
  .player-list {
    display: grid;
    grid-gap: 1px;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    width: 100%;
    margin: 2px 0;
  }

  .player {
    width: 100%;

    a {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 100%;
    }

    &__image {
      width: 100%;
    }

    &__image:before {
      display: inline-block;
      width: 100%;
      height: 0;
      padding-bottom: calc(100% / (1 / 1.47));
      content: "";
    }

    &__meta {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 2px 4px;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      text-align: center;
      font-size: 12px;
      font-weight: 400;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 18px;
        height: 12px;
        margin-right: 8px;
      }

      span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  &__player-loader {
    margin: 28px 0 32px;
    text-align: center;
  }
}

@media only screen and (min-width: $mobile-width) {
  .home {
    .player-list {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 12px;
      margin-top: 18px;
      margin-bottom: 100px;
    }

    .player {
      &__meta {
        padding: 4px 8px;
        font-size: 13px;
      }
    }
  }
}