.fixture-area {
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
    padding: 0 12px;

    span {
      font-size: 14px;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  .fixture-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    min-width: 0;
    flex-basis: 50%;
    padding: 12px 10px 8px;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
  }
  .fixture-wrapper:first-of-type {
    margin-right: 6px;
  }
  .fixture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &__header {
      width: 100%;

      div {
        display: flex;
        flex-direction: column;
        max-width: 70%;
        text-align: left;
      }
      img {
        height: 26px;
        margin-right: 10px;
      }
    }
    &__league-name {
      font-size: 14px;
      line-height: 15px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &__timestamp {
      display: block;
      margin-top: 2px;
      font-size: 11px;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.5);
    }
    &__live {
      display: inline-block;
      padding: 0.5px 4px;
      border-radius: 8px;
      font-size: 11px;
      line-height: 11px;
      border: 1px solid $nos-main-theme;
      background: rgba($nos-main-theme, 0.1);
      color: $nos-main-theme;
    }

    &__vs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 12px 0 9px;
    }

    &__team {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex: 1 1 0px;

      img {
        width: 30px;
        margin: 0 auto;
      }

      span {
        max-width: 68px;
        padding: 0 8px;
        font-size: 10px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.7);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-break: break-all;
      }
    }

    &__score {
      display: flex;
      flex-direction: column;
      text-align: center;
      white-space: nowrap;
    }

    &__players, &__stat, &__detail {
      width: 100%;
      padding: 2px 0;
      font-size: 12px;
      font-weight: 300;
      text-align: center;

      .v-icon {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.8);
      }
    }
    &__stat--activate {
      transition: all 0.3s ease-out;

      .v-icon {
        transform: rotate(180deg);
      }
    }
    &__players, &__stat {
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 6px;
    }
    &__detail {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .fixture-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 7px 6px 4px;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);

    .v-icon {
      margin-bottom: 6px;
      font-size: 20px;
      transform: rotate(-15deg);
    }
    p {
      font-size: 13px;
      font-weight: 300;
      line-height: 1.2;
    }
  }

  .section-title {
    margin: 16px 0 8px;
  }

  ::v-deep .nos-fixture-stat {
    position: absolute;
    top: 168px;
    left: 0;
    width: 180%;
    transform: unset;
  }
}

@media screen and (min-width: $mobile-width) {
  .fixture-area {
    &__header {
      padding: 2px 4px;
    }
    &__league-name {
      font-size: 16px;
      line-height: 18px;
    }

    .fixture {
      &__team {
        span { font-size: 12px; }
      }
      &__timestamp {
        font-size: 12px
      }
      &__detail {
        font-size: 13px;
      }
    }

    ::v-deep .nos-fixture-stat {
      top: 182px;
      left: 0;
    }
  }
}