.nos-account-menu-modal {
  position: absolute;
  top: 64px;
  right: 0;
  width: 100%;
  max-width: 580px;
  padding: 0 8px;

  &__content {
    padding: 16px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 32px;
    margin-bottom: 8px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 300;

    .v-icon {
      margin-right: 8px;
      font-size: 15px;
      color: black;
    }
  }

  button:last-of-type {
    margin: 0;
  }

  button:hover {
    background: rgba(0, 0, 0, 0.04);
  }
}
