.nos-search-modal {
  position: absolute;
  top: $mobile-header-height;
  left: 0;
  width: 100%;
  // border-bottom: 1px solid #e4e4e4;
  background: white;
  transition: all 0.3s ease-out;
  box-shadow: 0px 10px 8px -3px rgba(0, 0, 0, 0.15);

  &__inner {
    padding: 12px 16px 18px;
  }

  &__clubs {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 8px;
    width: 100%;
    margin-bottom: 16px !important;

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 7px 3px;
      border-radius: 5px;
      text-align: center;
      box-shadow: -3px -3px 13px 0 rgba(255, 255, 255, 0.83), 1px 1px 5px 0 rgba(217, 210, 200, 0.51);
    }
    button:hover {
      background: rgba($nos-main-theme, 0.1);
    }

    img {
      width: 20px;
    }

    span {
      display: none;
    }
  }

  &__form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;

    ::v-deep input {
      padding: 8px 16px;
    }
  }

  .nos-input {
    width: 100%;
    padding: 0;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    font-size: 18px;
    line-height: 32px;
  }

  &__submit {
    margin-left: 6px;
    padding: 8px 16px;
    border: 1px solid $nos-main-theme;
    border-radius: 4px;
    background: rgba($nos-main-theme, 0.15);
    color: $nos-main-theme;
    line-height: 32px;
  }
  &__submit:disabled {
    border: 1px solid rgba(black, 0.3);
    background: rgba(black, 0.1);
    color: rgba(black, 0.5);
  }

  &__suggestion {
    ul {
      max-height: 320px;
      padding: 10px 0;
      overflow: auto;
    }

    li {
      padding: 0 12px;
      font-weight: 400;

      button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 0;
        width: 100%;
      }
    }

    li:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
  &__suggestion-name {
    display: flex;
    align-items: center;

    img {
      width: 17px;
      margin-right: 8px;
    }

    span {
      max-width: 170px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
      line-height: normal;
      font-size: 14px;
      font-weight: 300;
    }
  }
  &__suggestion-info {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);

    img {
      width: 15px;
      height: 11px;
      margin-right: 8px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2px 0px;
    }
  }
  &__suggestion-info-detail {
    display: none;
    font-weight: 300;
  }
}

.nos-search-modal--preseason {
  // background: transparent;
  // box-shadow: unset;
  
}

@media screen and (min-width: $mobile-width) {
  .nos-search-modal {
    top: $web-header-height;

    &__inner {
      max-width: $web-body-content-width;
      margin: 0 auto;
      padding: 42px 16px 56px;
    }

    &__clubs {
      button {
        padding: 8px 6px 4px;
        transition: all 0.15s ease-out;
      }

      img {
        width: 30px;
      }

      span {
        display: -webkit-box;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 300;
        line-height: 14px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
      }
    }

    &__form {
      max-width: $web-header-content-width;
      margin: 32px auto 0;
    }

    .nos-input {
      font-size: 22px;
      line-height: 48px;
    }

    &__submit {
      margin-left: 10px;
      line-height: 48px;
      font-size: 18px;
    }

    &__suggestion {
      max-height: 398px;

      ul {
        max-width: $web-header-content-width;
        margin: 0 auto;
        padding: 12px 0;
      }

      li {
        padding: 0 16px;
        border-radius: 6px;

        button {
          padding: 12px 0;
        }
      }
    }
    &__suggestion-name {
      width: auto;

      span {
        max-width: 300px;
        font-size: 16px;
      }
    }
    &__suggestion-info {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.8);

      img {
        margin-right: 10px;
      }
    }
    &__suggestion-info-detail {
      display: inline-block;
      margin-left: 4px;
    }
  }

  .nos-search-modal--preseason {
    background: transparent;
    box-shadow: unset;

    .nos-search-modal__inner {
      background: white;
      margin-top: 4px;
      padding: 12px;
      border-radius: 10px;
      box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.15);
    }

    .nos-search-modal__form {
      background: white;
      border-radius: 6px;;
    }

    .nos-search-modal__suggestion {
      margin-top: 12px;

      ul {
        border-radius: 6px;
        background: white;
        box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.15);
      }
    }
  }
}