.about {
  margin: 0 0 $mobile-footer-height;
  text-align: center;

  * {
    font-weight: 300;
  }

  &__strong {
    font-weight: 500;
  }

  &__intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    margin-bottom: 120px;
    padding: 0 32px;

    h1 {
      background: linear-gradient(to right, #f4991e, #ea5514);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__below {
    padding: 0 32px;
  }

  &__title {
    margin-bottom: 20px;

    .v-icon {
      font-size: 66px;
    }

    h1 {
      font-size: 32px;
      font-weight: 800;
      line-height: 34px;
    }
  }

  &__container {
    margin-bottom: 180px;
  }

  &__desc {
    margin: 18px 0 54px;
    font-size: 13px;
    line-height: 22px;
  }

  &__image-container {
    margin-top: 24px;

    .v-icon {
      font-size: 26px;
    }
  }

  &__dummy-item {
    display: flex;
    align-items: center;
    justify-content: center;

    .v-icon {
      font-size: 55px;
    }
    font-size: 60px;
  }

  &__dummy-comment {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    div:first-of-type {
      display: flex;
      align-items: center;
      width: 100%;
      height: 50px;
      border: 1px solid #dbdbdf;
      padding: 0 16px;
      border-radius: 2px;
      font-size: 12px;
      text-align: left;
    }
    div:last-of-type {
      width: 80px;
      margin-left: 6px;
      border-radius: 2px;
      background: black;
      line-height: 50px;
      color: white;
    }
  }

  &__dummy-reaction {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 5px;
    margin-top: 8px;

    button {
      width: 100%;
      height: 28px;
      padding: 4px 8px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(0, 0, 0, 0.8);
      color: rgba(0, 0, 0, 0.78);
  
      .v-icon {
        margin-right: 4px;
        font-size: 17px;
        color: rgba(0, 0, 0, 0.78);
      }
  
      span {
        font-size: 13px;
        font-weight: 400;
      }
    }

    .voted {
      border: 1px solid $nos-main-theme !important;
      background: rgba($nos-main-theme, 0.05) !important;
      color: $nos-main-theme !important;
  
      .v-icon {
        color: $nos-main-theme !important;
      }
    }

    .vote-more-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.1);

      .v-icon {
        font-size: 14px;
        font-weight: 600;
        color: black;
      }

      span {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  // &__weekly-flow1,
  // &__weekly-flow2,
  // &__weekly-flow3 {
  //   width: 100%;
  //   max-width: 360px;
  //   height: 300px;
  //   margin: 0 auto;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: contain;
  // }
  // &__weekly-flow1 { background-image: url('/images/weekly_flow1_mobile.png'); }
  // &__weekly-flow2 { background-image: url('/images/weekly_flow2_mobile.png'); }
  // &__weekly-flow3 { background-image: url('/images/weekly_flow3_mobile.png'); }

  .nos-player {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  
    button {
      width: 100%;
      height: 100%;
    }
  
    &__header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: absolute;
      top: 2px;
      left: 0;
      width: 100%;
      padding: 0 8px;
    }
    &__header-left {
      display: flex;
      align-items: center;
    }
  
    &__comment-count,
    &__rank,
    &__temperature {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 12px;
      font-weight: 600;
  
      * { color: black; }
      .v-icon {
        font-size: 12.5px;
      }
    }
    &__rank {
      font-size: 10px;
      font-weight: 400;
    }
    &__comment-count {
      .v-icon { margin-right: 3px; }
    }
    &__temperature {
      .v-icon { margin-right: 1px; }
    }
    &__new-comment {
      margin-left: 4px;
      padding: 0 2px;
      background: linear-gradient(to right, #ea5514, #f4991e);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 12px;
      font-weight: 600;
    }
  
    &__body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 38px 8px 20px;
    }
  
    &__upper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 12px;
    }
    &__emblem {
      height: 32px;
      margin-right: 8px;
    }
    &__name {
      word-break: break-all;
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      text-align: left;
    }
    &__meta {
      display: flex;
      align-items: center;
      margin-top: 4px;
      font-size: 10px;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.6);
  
      img {
        width: 12px;
        height: 8px;
        margin-left: 4px;
        box-shadow: 0 0 1px 0.5px rgba(0, 0, 0, 0.15);
      }
    }
  
    &__footer {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      position: absolute;
      bottom: 3px;
      left: 0;
      width: 100%;
      padding: 0 8px;
    }
  
    &__comments-preview {
      text-align: center;
  
      li {
        margin-bottom: 4px;
      }
  
      p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 11px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.87);
      }
    }
  
    &__show-more {
      display: block;
      margin-top: 6px;
      font-size: 10px;
      font-weight: 300;
      color: $color-primary;
    }
  
    &__no-comments {
      padding: 8px 0;
  
      p {
        font-size: 11px;
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
      }
    }
  }

  &__linker {
    margin: 24px 0 36px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }

  &__inspiration {
    max-width: 680px;
    margin: 0 auto 80px;
    padding: 0 8px;

    img {
      width: 100%;
    }
  }

  &__video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%;

    iframe {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .about {
    margin: 0 0 $web-footer-height;

    &__intro {
      height: 85vh;
      padding: 0;

      .v-icon {
        font-size: 80px;
      }

      h1 {
        font-size: 44px;
        line-height: 50px;
      }
    }

    &__container {
      max-width: $web-body-content-width;
      margin: 0 auto;
      margin-bottom: 240px;
    }

    &__image-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: $web-body-content-width;
      margin: 24px auto;

      .v-icon {
        transform: rotate(-90deg);
      }
    }

    .nos-player {
      &__emblem {
        height: 42px;
        margin-right: 12px;
      }
      &__body {
        padding-bottom: 26px;
      }
      &__name {
        font-size: 28px;
      }
      &__meta {
        font-size: 14px;
      }
      &__comments-preview {
        p {
          font-size: 14px;
        }
      }
      &__show-more {
        font-size: 13px;
      }
    }

    &__desc {
      width: 100%;
      max-width: 640px;
      margin: 24px auto 60px;
      font-size: 16px;
      line-height: 28px;
    }

    &__dummy-comment, &__dummy-reaction {
      max-width: 460px;
      margin: 0 auto;
    }
    &__dummy-comment {
      margin-bottom: 32px;
    }
  }
}

.gradient-text {
  display: inline;
  padding-bottom: 10px;
  background: linear-gradient(to right, #ea5514, #f4991e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text::before {
  display: contents !important;
}

.gradient-text--purple {
  display: inline;
  padding-bottom: 10px;
  background: linear-gradient(to right, rgb(146, 23, 77) 9.38%, rgb(228, 29, 92) 88.54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text--purple::before {
  display: contents !important;
}
