.histories {
  min-height: 100%;

  &__year {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;

    h1 {
      margin: 0 16px;
      font-size: 28px;
      font-weight: 300;
    }

    .v-icon {
      font-size: 26px;
      color: black;
    }
  }

  &__month-wrapper {
    padding: 0 12px;
  }

  &__month-list {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2px;
  }
  &__month {
    border: 1px solid rgba(black, 0.3);
    width: 100%;
    padding: 8px 0;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease-out;
  }
  &__month:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  &__month--selected {
    border: 1px solid $nos-main-theme !important;
    background: rgba($nos-main-theme, 0.1);
    color: $nos-main-theme !important;
  }
  &__month--selected:hover {
    background: rgba($nos-main-theme, 0.1) !important;
  }

  &__empty {
    h1 {
      font-size: 26px;
    }
  }

  &__content {
    margin: 16px 0 36px;
  }

  &__item {
    border-bottom: 1px solid #e4e4e4;
    padding: 24px 0;
  }
  &__item:last-of-type {
    border: none;
  }

  &__link {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  &__period {
    margin-bottom: 8px;
    font-size: 18px;

    span {
      font-size: 14px;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &__top5Players {
    max-width: 320px;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    p {
      max-width: 180px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
      font-size: 16px;
      font-weight: 300;
    }

    .histories__flag {
      width: 17px;
      margin-right: 8px;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
    }

    .histories__club {
      margin: 0 8px;
      width: 14px;
    }

    span {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.7);
    }
  }

  &__load-more {
    text-align: center;

    button {
      width: 100%;
      border-radius: 0;
      height: 42px;
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .histories {
    &__year {
      padding: 40px 0 32px;

      h1 {
        margin: 0 24px;
        font-size: 36px;
      }

      .v-icon {
        font-size: 30px;
      }
    }

    &__content {
      margin: 24px 0 140px;
      padding: 0 16px;
    }

    &__item {
      padding: 32px 0 40px;
      border: 0;
      border-radius: 6px;
      transition: all 0.3s ease-out;
      cursor: pointer;
    }
    &__item:hover {
      background: rgba($nos-main-theme, 0.1);
    }

    &__link {
      flex-direction: row;
      justify-content: center;
    }

    &__period {
      display: inline-block;
      margin-right: 80px;
      text-align: center;
      font-size: 22px;

      span {
        font-size: 16px;
      }
    }

    &__top5Players {
      max-width: 380px;

      p {
        max-width: 220px;
        font-size: 18px;
      }

      span {
        font-size: 15px;
      }
    }
  }
}