.histories {
  min-height: 100%;

  &__header {
    padding: 12px 28px 24px;
    background: $nos-main-gradient;
  }

  &__year {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;

    h1 {
      margin: 0 16px;
      font-size: 28px;
      font-weight: 300;
      color: white;
    }

    .v-icon {
      font-size: 26px;
      color: white;
    }
  }

  &__month-list {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3px;
  }
  &__month {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(white, 0.8);
    border-radius: 4px;
    color: rgba(white, 0.8);
    text-align: center;
    transition: all 0.3s ease-out;
  }
  &__month:hover {
    border: 1px solid white;
    background: rgba(white, 0.15);
    color: white;
  }
  &__month--selected {
    border: 2px solid white !important;
    background: rgba(white, 0.3);
    color: white !important;
    font-weight: 600;
  }
  &__month--selected:hover {
    background: rgba(white, 0.3) !important;
  }

  &__empty {
    width: 85%;

    h1 {
      font-size: 26px;
      font-weight: 300;
      text-align: center;
    }
  }

  &__item {
    border-bottom: 1px solid #e4e4e4;
  }
  &__item:last-of-type {
    border: none;
  }

  &__link {
    display: block;

    &-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 36px 0 42px;
    }
  }

  &__period {
    margin-bottom: 8px;
    font-size: 18px;

    &-latest {
      display: block;
      color: $nos-main-theme;
      text-align: center;

      p {
        display: inline-block;
        background: linear-gradient(to right, rgb(146, 23, 77) 9.38%, rgb(228, 29, 92) 88.54%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 300;
      }
      p::before {
        display: inline !important;
      }
    }
    
    &-time {
      font-size: 14px;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &__top5Players {
    max-width: 320px;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 4px 0;
    }

    p {
      display: flex;
      align-items: center;
      max-width: 180px;
    }

    .histories__name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
      font-size: 16px;
      font-weight: 300;
    }

    .histories__club {
      margin: 2px 8px 0 0;
      width: 17px;
    }

    .histories__dob {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.7);

      img {
        width: 16px;
        height: 12px;
        margin-right: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2px 0px;
        }
    }
  }

  &__load-more {
    text-align: center;

    button {
      width: 100%;
      border-radius: 0;
      height: 42px;
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .histories {
    &__header {
      padding: 24px 28px 36px;
    }
  
    &__year {
      margin-bottom: 24px;

      h1 {
        font-size: 36px;
      }

      .v-icon {
        font-size: 30px;
      }
    }

    &__month-wrapper {
      max-width: 800px;
      margin: 0 auto;
    }

    &__month-list {
      grid-gap: 8px;
    }

    &__month {
      height: 44px;
    }

    &__item {
      border-radius: 6px;
      transition: all 0.3s ease-out;
      cursor: pointer;
    }
    &__item:hover {
      background: rgba($nos-main-theme, 0.1);
    }

    &__link {
      &-content {
        flex-direction: row;
        justify-content: space-between;
        max-width: 780px;
        margin: 0 auto;
        padding: 56px 0 60px;
      }
    }

    &__period {
      display: inline-block;
      text-align: center;
      font-size: 22px;

      &-time {
        font-size: 16px;
      }
    }

    &__top5Players {
      max-width: 380px;

      li {
        margin: 7px 0;
      }

      p {
        max-width: 220px;
        font-size: 18px;
      }

      span {
        font-size: 15px;
      }
    }
  }
}