.nos-notification {
  .nos-modal__body {
    min-height: 48px;
    max-height: 300px;
    overflow: auto;
  }

  &__empty {
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }

  &__item {
    margin-bottom: 6px;

    button {
      padding: 3px 8px;
      width: 100%;
      background: white;
      border-radius: 6px;
      font-size: 14px;

      p {
        font-weight: 600;
      }
    }
  }

  &__item:last-of-type {
    margin-bottom: 0;
  }

  &__desc {
    font-size: 13px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
  }
}

@media only screen and (min-width: $mobile-width) {
  .nos-notification-modal {
    top: 60px;

    .nos-modal__body {
      max-height: 326px;
    }
  }
}