.nos-notification-modal {
  position: absolute;
  top: 56px;
  right: 0;
  width: 100%;
  max-width: 580px;
  padding: 0 8px;

  &__content {
    position: relative;
    min-height: 200px;
    max-height: 300px;
    padding: 8px 16px;
    overflow: auto;
  }

  &__empty {
    width: 100%;
    color: black;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }

  &__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);

    button {
      padding: 12px 0;
      width: 100%;
      background: white;
      border-radius: 6px;
      font-size: 14px;

      p {
        margin: 0;
        font-weight: 600;
      }
    }
  }

  &__item:last-of-type {
    border: 0;
  }

  &__desc {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
  }
}

@media only screen and (min-width: $mobile-width) {
  .nos-notification-modal {
    top: 60px;

    &__content {
      max-height: 400px;
    }

    &__item {
      button {
        padding: 12px 8px;
      }
    }
  }
}