.nos-login-modal {
  .nos-modal__body {
    padding: 24px 32px 32px;
  }
  
  label {
    color: white;
  }

  &__submit {
    margin-top: 4px;
  }

  &__submit,
  &__signup {
    width: 100%;
    background: white;
    border-radius: 10px;
  }

  ::v-deep input {
    border-bottom: 1px solid white;
    color: white;
  }

  ::v-deep .nos-input__error-message {
    color: black;
  }

  &__error-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
    padding: 2px 8px;
    border-radius: 6px;
    background: darkred;
    color: white;
    font-size: 14px;
    
    div {
      display: flex;
      align-items: center;
    }

    button {
      padding: 0;
    }

    i {
      color: white;
      vertical-align: middle;
    }
  }

  &__error-icon {
    margin-right: 4px;
  }

  &__forgot-password {
    display: block;
    padding: 4px 0 !important;
    font-size: 12px;
    text-align: right;
  }

  &__signup {
    display: block;
    margin-top: 24px;
    text-align: center;
  }
}

@media only screen and (min-width: $mobile-width) {
  .nos-login-modal {
    top: 60px;
  }
}