.nos {
  position: relative;
  min-height: 100%;

  .v-application--wrap {
    padding-top: $mobile-header-height;
    padding-bottom: $mobile-footer-height;
  }
}

.nos-entry {
  &__logo {
    display: inline-block;
    width: 300px;

    a {
      width: 100%;
    }
  }  
}

.nos-layout-default {
  width: 100%;
  max-width: $web-body-content-width;
  margin: 0 auto;
}

.nos-layout-wide {
  width: 100%;
}

@media only screen and (min-width: $mobile-width) {
  .nos {
    .v-application--wrap {
      padding-top: $web-header-height;
      padding-bottom: $web-footer-height;
    }
  }
}