.nos {
  position: relative;
  min-height: 100%;
  padding-top: $mobile-header-height;
  // padding-bottom: $mobile-footer-height;
}

.nos-entry {
  &__logo {
    display: inline-block;
    width: 300px;

    a {
      width: 100%;
    }
  }  
}

@media only screen and (min-width: $mobile-width) {
  .nos {
    padding-top: $web-header-height;
    // padding-bottom: $web-footer-height;
  }
}