.nos {
  position: relative;
  min-height: 100%;

  .nos-layout-default,
  .nos-layout-wide {
    padding-top: $mobile-header-height;
    padding-bottom: $mobile-footer-height;
  }

  .nos-layout-preseason {
    padding-top: $mobile-header-height;
  }
}

.nos-entry {
  background: #fafafa;
  min-height: 100%;

  &__go-back {
    position: absolute;
    top: 12px;
    left: 12px;

    .v-chip {
      cursor: pointer;
    }
  }

  &__logo {
    display: block;
    width: 200px;
    margin: 0 auto;

    a {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }  

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 100px 40px $mobile-footer-height;
  }
}

.nos-layout-default {
  width: 100%;
  max-width: $web-body-content-width;
  margin: 0 auto;
}

.nos-layout-wide {
  position: relative;
  width: 100%;
}

@media only screen and (min-width: $mobile-width) {
  .nos {
    .nos-layout-default,
    .nos-layout-wide {
      padding-top: $web-header-height;
      padding-bottom: $web-footer-height;
    }

    .nos-layout-preseason {
      padding-top: $web-header-height;
    }
  }

  .nos-entry {
    &__inner {
      max-width: 400px;
      width: 100%;
      height: auto;
      margin: 140px auto 140px + $web-footer-height;
      padding: 100px 64px 64px;
    }
  }
}