.nos-comment-unit {
  * {
    font-weight: 300;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
  }

  &__header-title {
    p {
      display: flex;
      align-items: center;
    }

    .v-icon {
      margin-right: 4px;
      font-size: 16px;
      color: black;
    }
  }

  &__body {
    position: relative;
    flex: 1;
    min-height: 100px;
  }

  &__sort-type {
    display: flex;
    align-items: center;
    margin-left: 4px;
  }

  &__sort-type-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    padding: 1px 6px;
    border: 1px solid rgba(0, 0, 0, 0.72);;
    border-radius: 12px;

    .v-icon {
      margin-right: 4px;
      font-size: 14px;
    }

    span {
      font-size: 12px;
    }

    .v-icon, span {
      color: rgba(0, 0, 0, 0.72);
    }
  }
  &__sort-type-btn--active {
    border: 1px solid $nos-main-theme;
    background: rgba($nos-main-theme, 0.1);

    .v-icon, span {
      color: $nos-main-theme;
    }
  }

  &__more {
    color: $color-primary;
    font-size: 14px;

    .v-icon {
      font-size: 18px;
      color: $color-primary;
    }
  }

  &__comment {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    * {
      font-size: 12px;
    }

    a {
      display: block;
      padding: 6px 14px;
    }
  }
  &__comment:last-of-type {
    border: 0;
  }
  &__comment:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;

    div {
      display: flex;
      align-items: center;
    }

    .v-icon {
      margin-right: 2px;
      font-size: 13px;
    }

    img {
      width: 17px;
      margin-right: 6px;
    }
  }
  &__created-at {
    margin-left: 6px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
  }
  &__statistics {
    margin-left: 8px;
    color: rgba(0, 0, 0, 0.6);
  }

  &__content {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3rem;
  }

  // 페이징 관련 스타일
  &__pagination-wrapper {
    margin-top: 16px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .v-icon {
      font-size: 18px;
      color: black;
    }
  }
  &__page-navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
    font-size: 12px;
  }
  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button {
      font-size: 12px;
      line-height: 22px;
    }
  }
  &__page {
    min-width: 26px;
    height: 26px;
    margin: 0 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    color: black;
    font-size: 12px;
  }
  &__page--active {
    background: black;
    color: white;
    font-weight: 600;
  }

  // comment가 없을 때
  &__empty {
    text-align: center;

    * {
      color: rgba(0, 0, 0, 0.2);
    }

    .v-icon {
      font-size: 30px;
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .nos-comment-unit {
    flex: 1;
    margin: 0;

    &__header {
      margin-bottom: 8px;
      padding: 0;
    }
  
    &__header-title {
      .v-icon {
        margin-right: 8px;
        font-size: 18px;
        color: black;
      }
    }

    &__body {
      min-height: 100px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 6px;
    }
  
    &__comment {
      a {
        padding: 6px 14px;
      }
  
      * {
        font-size: 14px;
      }
    }
    &__comment:first-of-type { a { padding-top: 10px; }}
    &__comment:last-of-type { a { padding-bottom: 10px; }}

    &__created-at {
      font-size: 12px;
    }

    &__pagination {
      button {
        font-size: 15px;
      }
      .v-icon {
        font-size: 22px;
      }
    }
  }
}