#player-list-wrapper {
  max-width: $web-body-content-width;
  margin: 0 auto 4px;
}

.player-list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  grid-auto-rows: 1fr;
  width: 100%;

  &__loader {
    margin: 28px 0 32px;
    text-align: center;
  }
}

.player {
  width: 100%;

  button {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }
  &__header-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3px 5px;
    font-size: 13px;
    font-weight: 300;
    z-index: 1;

    .v-icon {
      margin-right: 2px;
      font-size: 11.5px;
    }
  }
  &__hits-and-comment {
    display: flex;
    align-items: center;

    * {
      color: white;
      font-size: 11px;
      font-weight: 300;
      line-height: 13px;
    }

    p {
      display: flex;
      align-items: center;
      margin-right: 4px;
    }
  }
  &__temperature {
    display: flex;
    align-items: center;
    font-size: 11px;

    span {
      line-height: 13px;
    }
  }
  &__new-comment {
    display: flex;
    justify-content: flex-start;
    padding: 0 6px;

    span {
      font-size: 10px;
      line-height: 12px;
    }
  }


  &--degrees-over-0 { * { color: white; }}
  &--degrees-over-100 { * { color: #eeff00; }}
  &--degrees-over-200 { * { color: #fcc100; }}
  &--degrees-over-400 { * { color: #ff9900; }}
  &--degrees-over-600 { * { color: #ff7f16; }}
  &--degrees-over-800 { * { color: #f44336; }}

  &__image {
    width: 100%;
  }

  &__image:before {
    display: inline-block;
    width: 100%;
    height: 0;
    padding-bottom: calc(100% / (1 / 1.47));
    content: "";
  }

  &__meta {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    padding: 2px 4px 4px;
    background: linear-gradient(0, rgba(0, 0, 0, 0.75) 40%, transparent);
    color: white;
    text-align: center;

    div {
      width: 100%;
    }

    p {
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }

  &__meta-comments-preview {
    margin-bottom: 4px;

    p {
      font-size: 11px;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      // font-style: normal;
      line-height: 1.1rem;
    }
  }
  &__meta-known-as {
    font-size: 13px;
    font-weight: 400;
  }
  &__meta-flag {
    width: 15px;
    height: 10px;
  }
  &__meta-birth-height {
    line-height: 13px;

    span {
      font-size: 11px;
      font-weight: 300;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }
}

// 선수 이미지가 없을 때 (image_url === 'n')를 위한 스타일
.player--without-image {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);

  .player__hits-and-comment {
    * {
      color: black !important;
    }
  }
  .player__meta {
    height: 100%;
    background: unset;
    color: black !important;
  }
  .player__club-emblem {
    img {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
    }
  }
  .player__club-emblem:before {
    display: inline-block;
    width: 100%;
    height: 0;
    padding-bottom: calc(100% / (1 / 1.47));
    content: "";
  }
  .player__meta-flag {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
  }
}


@media screen and (min-width: 680px) {
  .player-list {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media screen and (min-width: $mobile-width) {
  #player-list-wrapper {
    margin-bottom: 12px;
  }

  .player-list {
    grid-gap: 12px;
  }

  .player {
    &__hits-and-comment {
      * {
        font-size: 13px;
        line-height: 16px;
      }
      p {
        margin-right: 6px;
      }
    }
    &__temperature {
      font-size: 13px;
    }
    &__new-comment {
      span {
        font-size: 11px;
        line-height: 13px;
      }
    }

    &__meta {
      height: 6rem;
      padding: 2px 8px 10px;
      font-size: 13px;
    }

    &__meta-comments-preview {
      margin-bottom: 8px;

      p {
        font-size: 14px;
        line-height: 1.5rem;
      }
    }
    &__meta-known-as {
      font-size: 16px;
    }
    &__meta-birth-height {
      margin-top: 4px;
      line-height: 16px;

      span {
        font-size: 13px;
      }
    }
  }

  // 선수 이미지가 없을 때 (image_url === 'n')를 위한 스타일
  .player--without-image {
    .player__club-emblem {
      img {
        width: 80px;
      }
    }
  }
}