.signup {
  max-width: 240px;

  ::v-deep input {
    border: 1px solid black;
  }

  ::v-deep select {
    border: 1px solid black;
  }

  &__datepicker {
    position: relative;
    padding-bottom: 16px;

    ::v-deep input {
      width: 100%;
    }
  }

  &__datepicker-error-message {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $form-warning-color;
    font-size: 13px;
  }
}